extends layout

block content
  h1= title
  
  each item in category_items
    div
      h3 
        a(href=item.url) #{item.name}
      p= item.description
  hr
  p
    a(href=category.url+'/update') Update Category 
  hr
  a(href=category.url+'/delete') Delete Category 
